::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(3, 72, 124, 0.8);
}

::-webkit-scrollbar-thumb {
    background: white;
}

    ::-webkit-scrollbar-thumb:hover {
        background: skyblue;
    }

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-family: Helvetica, sans-serif;
}

.image-holder {
    width: 350px;
    height: 703px;
    background-color: transparent;
    display: inline-block;
}

.image1 {
    width: 100%;
    height: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.login {
    vertical-align: top;
    /*    width: 73%;*/
    width: calc(100% - 360px);
    background-color: transparent;
    display: inline-block;
}

.header-holder {
    width: 50%;
    margin: auto;
    background-color: transparent;
    text-align: center;
    margin-top: 120px;
}

.input-holder {
    width: 50%;
    margin: auto;
    background-color: transparent;
    margin-top: 75px;
}

.textbox {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 70%;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #03487c;
    padding: 10px;
}

.button-holder {
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: auto;
    margin-top: 50px;
}

.button {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: rgba(3, 72, 124, 0.8);
    color: white;
    font-weight: 700;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
}

    .button:hover {
        background-color: white;
        color: rgb(255, 0, 0);
        border: 2px solid #083456;
    }

.checkbox-holder {
    width: 50%;
    margin: auto;
    background-color: transparent;
    margin-top: 20px;
    font-size:15px;
}

.checkbox {
    margin-left:15%;
    margin-top: 15px;
}

label{
    font-size:11px;
}

.text {
    color: rgba(3, 72, 124, 0.8);
}

@media(max-width:1150px) {

    .header-holder{
        font-size:15px;
    }

    label{
        font-size:6px;
    }

    .textbox{
        height:20px;
    }
}

@media(max-width:700px) {
    .image-holder{
        display:none;
    }

    .login{
        width:100%;
        margin:auto;
    }

    label{
        font-size:11px;
    }
}

button  {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
  body{
    font-family: Helvetica, sans-serif;
    height: 100vh;
  }
  .center {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .center button  {
    padding: 10px 20px;
    font-size:15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius: 5px;
  }
  .popup {
    position:relative;
    top: -150%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:300px;
    padding: 20px 30px;
    background: #d5d5d5;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
  }
  .popup .close-btn {
    position:absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align:center;
    line-height: 15px;
    border-radius: 15px;
    cursor:pointer;
  }
  
.popup .form h2 {
    text-align:center;
    color:#222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.popup .form .form-element {
    margin:15px 0px;
}
.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display:block;
    width:100%;
    padding: 10px;
    outline: none;
    border:1px solid #aaa;
    border-radius:5px;
}
.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size:15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
.popup .form .form-element a {
    display:block;
    text-align:right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration:none;
    font-weight: 600;
    
}

